body {
  background-image: url("paper.gif");
  background-color: #cccccc;
 }
  body {
    background-image: url("background2.jpg");
    background-color: #cccccc;
    background-position: center;
   }